In [7]:
from pandas_datareader import data as web
import pandas as pd

all_data={}
tickers=["AAPL","IBM","MSFT","GOOG"]
for ticker in tickers:
    all_data[ticker]=web.get_data_yahoo(ticker,"1/1/2000","1/1/2010")

price=pd.DataFrame({ticker:data["Adj Close"] for ticker,data in all_data.items()})
volume=pd.DataFrame({ticker:data["Volume"] for ticker,data in all_data.items()})

In [10]:
price.tail()

                 AAPL        GOOG         IBM       MSFT
Date
2009-12-24  26.466131  307.241699  101.483032  24.867828
2009-12-28  26.791512  309.422516  102.835388  25.004194
2009-12-29  26.473722  307.698730  102.477867  25.180681
2009-12-30  26.795311  309.352966  103.037491  24.835745
2009-12-31  26.680096  307.986847  101.739494  24.450689

In [11]:
returns=price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2009-12-24  0.034339  0.011117  0.004385  0.002587
2009-12-28  0.012294  0.007098  0.013326  0.005484
2009-12-29 -0.011862 -0.005571 -0.003477  0.007058
2009-12-30  0.012147  0.005376  0.005461 -0.013698
2009-12-31 -0.004300 -0.004416 -0.012597 -0.015504

### pandas:corr

In [12]:
returns.MSFT.corr(returns.IBM)

0.4925370692439018

In [13]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.470676  0.412392  0.422852
GOOG  0.470676  1.000000  0.390689  0.438313
IBM   0.412392  0.390689  1.000000  0.492537
MSFT  0.422852  0.438313  0.492537  1.000000

In [15]:
returns.corrwith(returns.IBM)

AAPL    0.412392
GOOG    0.390689
IBM     1.000000
MSFT    0.492537
dtype: float64

In [16]:
returns.corrwith(volume)

AAPL   -0.057665
GOOG    0.062647
IBM    -0.006592
MSFT   -0.016101
dtype: float64

### pandas: cov

In [14]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.001030  0.000303  0.000254  0.000309
GOOG  0.000303  0.000580  0.000142  0.000204
IBM   0.000254  0.000142  0.000369  0.000216
MSFT  0.000309  0.000204  0.000216  0.000519